// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	margin-bottom:34px;
	color:$black;
	font:50px/1 'Gotham Rounded Light', sans-serif;
    text-transform:uppercase;
	}
p {
	margin-bottom:1em;
	&.note {
		color:lighten($grey, 25%);
		}
	}
