// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	margin-bottom:34px;
	color:$black;
	font:50px/1 'Gotham Rounded Light', sans-serif;
    text-transform:uppercase;
	}
h3 {
    color: $red;
	font:1.25em/1 'Gotham Rounded Light', sans-serif;
    text-transform:uppercase;
    margin-bottom: 0.5em;

    &.subtitle {
        font:22px/1.4 'Lora', sans-serif;
        font-style: italic;
        text-transform:none;
        position: absolute;
        top: calc(70px - 1.25em);
    }
}
p {
	margin-bottom:1em;
	&.note {
		color:lighten($grey, 25%);
		}
	}
