@import '../../brand/cover';

// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	margin-bottom:34px;
	color:$pink;
	font:50px/1 'FF Meta Serif', sans-serif;
    text-transform:uppercase;
	}
h3 {
    color: $blue;
	font:1.25em/1 'FF Meta Serif', sans-serif;
    text-transform:uppercase;
    margin-bottom: 0.5em;

    &.subtitle {
        font:22px/1.4 'Graphik', sans-serif;
        font-style: italic;
        text-transform:none;
        margin-top: -1.25em;
    }
}
p {
	margin-bottom:1em;
	&.note {
		color:lighten($grey, 25%);
		}
	}
