// ------------------------------------------------------------------
// Lists
// ------------------------------------------------------------------

ol, ul {

	margin-bottom:1em;
	counter-reset:list;
    line-height: 1.5em;

	li {

		page-break-inside:avoid;
        padding-left: 1em;
        position: relative;
        padding-top: 0.25em;
        padding-bottom: 0.25em;

		// Marker

		&::before {
            position: absolute;
			display:block;
			width:2em;
			color:$pink;
			text-align:left;
            top: 0;
            left: 0;
            line-height: 2em;
			}

		}

	ol, ul {
		margin-bottom:0;
		margin-left:2em;
		}

	}

// Markers

ul > li::before {
	content:'•';
	}
ul > li:lang(ru)::before {
	content:'—';
	}
ol > li::before {
	padding-right:0.4em;
	counter-increment:list;
	content:counter(list)'.';
	}

// Custom

ol > li[value]::before {
	content:attr(value)'.';
	}
ul > li[value]::before {
	content:attr(value);
	}
