// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

@mixin quoteShape {
		position:absolute;
        color:$grey;
		line-height:1;
		font-size:8em;
        font-family: 'Gotham Rounded Light', sans-serif;
        font-weight:bold;
		content:'\201C';
        top: 50%;
        transform: translate(0, -50%);
}

blockquote {

    font-family: 'Gotham Rounded Light', sans-serif;
    position: relative;

	&::before,
    &::after {
        @include quoteShape;
		}
    &::before {
        left: -0.5em;
    }
    &::after {
        right: -0.5em;
    }

	// Author

	& + figcaption {
		margin:-1em 0 1em;
        font-family: 'Lora';
        font-size: 0.85em;
        text-align: right;
	}

}

figure {
    &:has(blockquote) {
    position: relative;
    blockquote {
        &::before,
        &::after {
            content: '';
        }
    }

    &::before,
    &::after {
        @include quoteShape;
    }
    &::before {
        left: -0.5em;
    }
    &::after {
        right: -0.5em;
    }
    }
}
