// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {

    font-family: 'Gotham Rounded Light', sans-serif;

	&::before,
    &::after {
		position:absolute;
		color:currentColor;
		line-height:1;
		font-size:8em;
        font-family: 'Gotham Rounded Light', sans-serif;
        font-weight:bold;
		content:'\201C';
        top: 50%;
        transform: translate(0, -50%);
		}
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }

	// Author

	& + figcaption {
		margin:-1em 0 1em;
        font-family: 'Lora';
        text-align: right;
		}

	}
