// ------------------------------------------------------------------
// Table
// ------------------------------------------------------------------
// 1. Cells ............ Paddings and alignment
// 2. Lines ............ Row dividing lines
// 3. Stripes. ......... Background for even lines
// ------------------------------------------------------------------

table {

	margin-bottom:1em;
	width: 100%;
    font-size: 0.85em;

	// Cells

    th, td {
        padding: 0 0.5em;
        border-bottom: 1px solid $grey-line;
    }

    th {
		text-align:left;
	    &:not(:last-of-type), &:last-child {
	    	font-weight:bold;
            background-color: $red;
            color: #FFF;
            font-family: 'Gotham Rounded Light', sans-serif;
            border-bottom: none;
		}
    }



	// Stripes

	&.striped {
		tr {
            background-color: $grey-line;
			&:nth-child(even) {
				background:$grey-back;
			}
			> * {
				background-image:none;
				}
			}
        th, td {
            border-bottom: none;
        }

	}

}
