// ------------------------------------------------------------------
// Full image
// ------------------------------------------------------------------

&--full-image {

    @include cover;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1;
        max-width: 100%;
        max-height: 100%;
    }

	}
