// ------------------------------------------------------------------
// Common used mixins
// ------------------------------------------------------------------

@mixin cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 0 50px;

    h2 {
      font-size: 44px;
      margin-top: 0.5em;
      margin-bottom: 0;
    }

	&::after {
		visibility:hidden;
		}

    svg {
        display: block;
        margin: 0 auto;
    }

}

@mixin color-slide {

    color: #FFF;

    background-image: url(../../images/logo/fill-white.svg);

    h2 {
      color: #FFF;
    }

    svg path {
        fill: #FFF;
    }

    figure,
    blockquote {
        &::before,
        &::after
        {
            color: currentColor;
        }
    }

}
