// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--print {

    &:not(h2) {
        font-size: 0.75em;
    }

    h3 {
        font-size: 1em;
        font-family: 'Gotham Rounded Medium';
    }

    h3.subtitle {
        color: $black;
        font-size: 1.5em;
        font-style: normal;
    }

}
