// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&--shout {

    @include cover;

    blockquote {
        margin: 0 3em;

        & + figcaption {
            margin: 0 3em;
        }
    }

    figure {
        margin: 0 3em;

        blockquote {

            margin: 0;

            & + figcaption {
                margin: 0;
            }
        }
    }

}
