@import 'colors';

#cover {
  background-color: $white;
  background-image: none;
  color: $dark;
  text-align: left;

  background-image: url('../images/logo/intergalactico-black.png');
  background-repeat: no-repeat;
  background-position: 30px 50%;
  background-size: 500px 175px;

  padding-left: 40px;

  h2 {
    color: $dark;
    margin-top: calc(25% + 2em);
    font-family: 'Graphik Medium';
  }

  .author {
    color: $pink;
    font-family: 'Graphik Medium';
  }
}
