@import 'colors';

#cover {
  background-color: $dark;
  background-image: none;
  color: $white;
  text-align: center;

  &:before {
  color: $white;
    content: url('../images/logo/fill-red.svg');
    width: 150px;
    display: block;
    margin: 0 auto;
  }

  h2 {
    color: $white;
    margin-top: 50px;
  }
}
