// ------------------------------------------------------------------
// Slide
// ------------------------------------------------------------------
// 1. Number ........... Red ribbon with page number
// 2. Content .......... Various content types
// 3. Modifiers......... Slide modifiers
// 4. Elements ......... Content elements
// ------------------------------------------------------------------

.slide {

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:70px 110px 0;
	width:$width;
	height:$height;
	font-size:25px;
    background-image: url(../images/logo/fill-red.svg);
    background-size: 55px 45px;
    background-repeat: no-repeat;
    background-position: bottom 25px left 30px;
	background-color:#FFF;

	// Number

	&::after {
		position:absolute;
		bottom:25px;
		right:30px;
		padding-top:15px;
        font-family: 'Gotham Rounded Light', sans-serif;
        font-size: 20px;
		color:$red;
		counter-increment:slide;
		content:counter(slide);
		text-align:center;
		}

	// Content

	@import
		'content/basic',
		'content/inline',
		'content/quote',
		'content/lists',
		'content/table',
		'content/code',
		'content/footer';

	// Modifiers

	@import
		'modifiers/mixins',
		'modifiers/grid',
		'modifiers/shout',
		'modifiers/print',
		'modifiers/black',
		'modifiers/red',
		'modifiers/azure',
		'modifiers/white',
		'modifiers/full-image';

	// Elements

	@import
		'elements/columns',
		'elements/shout',
		'elements/cover',
		'elements/place';

	}

@import '../brand/cover';
